@tailwind base;
@tailwind components;
@tailwind utilities;

.pilihan-ganda {
  @apply inline-flex my-2;
}

.garis {
  @apply border border-gray-200;
}

.opsi-font {
  @apply my-auto mx-1;
}

.card {
  @apply bg-white rounded-lg shadow h-auto mt-6 mb-4;
}

.card-body {
  @apply px-4 py-4;
}

#container {
  @apply h-full w-full flex flex-col justify-center items-center;
}

.header {
  @apply text-2xl font-bold py-2;
}

.btn {
  @apply py-2 px-4 rounded;
}

.btn-sm {
  @apply py-1 px-2 rounded-sm;
}

.btn-blue {
  @apply bg-blue-500 text-white cursor-pointer;
}

.alert-danger {
  @apply flex w-11/12 bg-red-500 p-2 mb-1 mt-4 text-white rounded;
}

.btn-next {
  @apply px-3 py-2 bg-blue-500 rounded text-white;
}

.btn-tab {
  @apply bg-transparent px-2 py-3 mr-2 cursor-pointer rounded-t-sm;
}